@import url('https://fonts.googleapis.com/css?family=Roboto');

.errors {
  border: 1px solid black;
  background: red;
  padding: 5px;
}

.notice {
  border: 1px solid red;
  background: blue;
  padding: 5px;
  color: white;
}

body {
  font-family: sans-serif;
  background: #7FDBFF;
  padding: 100px 20px;
}

.header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 80px;
  font-size: 48px;
  font-family: 'Roboto', cursive;
  text-align: center;
  color: red;
  text-shadow: 0 0 20px black;
}

